.work-cont {
  position: fixed;
  top: 1%;
  width: 31%;
  height: 83.5%;
  background-color: var(--content-bg);
  border-radius: 10px;
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  padding: 20px;
}

.cipher-selector button {
  padding: 8px 14px;
  margin-right: 10px;
  background: #222831;
  border: none;
  color: #00adb5;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
}

.cipher-selector button.active {
  background: #00adb5;
  color: #222831;
}

.cipher-content {
  margin-top: 15px;
  white-space: pre-wrap;
  line-height: 1.3;
  background: #1f2a38;
  padding: 12px;
  border-radius: 8px;
  height: calc(100% - 70px);
  overflow-y: auto;
}

/* -------------------------------------------MOBILE-------------------------------------------- */

@media (max-width: 425px){
    .work-cont{
      width: 29%;
      height: 82.5%;
    }
}

/* ------------------------------------------TABLET---------------------------------------------- */

@media (min-width: 426px) and (max-width: 560px){
    .work-cont{
      width: 30%;
    }
}

/* ---------------------------------------LAPTOP-------------------------------------------- */

@media (min-width: 769px) and (max-width: 1440px){
    .cipher-selector button{
      font-size: clamp(13px, 1.5vw, 50px);
    }

    .cipher-content{
      font-size: clamp(13px, 1.5vw, 50px);
    }
}

/* --------------------------------------------4K----------------------------------------------- */

@media (min-width: 2560px){
    .work-cont{
      height: 88%;
    }

    .cipher-selector button{
      width: 8%;
      height: 3vh;
      font-size: clamp(13px, 1.5vw, 50px);
    }

    .cipher-content{
      font-size: clamp(13px, 1.5vw, 50px);
    }
}